NODE_ENV=production

JWT_SECRET= <VALID_JWT_SECRET>
JWT_REFRESH_SECRET= <VALID_JWT_SECRET>
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=inventory_prod
DATABASE_HOST=db
DATABASE_PORT=5432
AZURE_CLIENT_ID=<VALID_AZURE_CLIENT_ID>
AZURE_CLIENT_SECRET=<VALID_AZURE_APP_REGISTRATION_CLIENT_SECRET>
AZURE_CALLBACK_URL='http://localhost:3001/inventory/oauth/callback'
AZURE_TENANT_ID=<VALID_AZURE_TENANT_ID>
SECURITY_GROUP_ID=<VALID_ENTRA_SECURITY_GROUP_ID>
FRONTEND_URL='http://localhost:3000'
SIGNATURES_DIR=<PATH_TO_SIGNATURES_DIRECTORY>

REACT_APP_API_BASE_URL='http://localhost:3001/api/inventory'