DEV_ADMIN_ID = <VALID_ENTRA_UUID>

NODE_ENV="development" # or production

JWT_SECRET= <VALID_JWT_SECRET>
JWT_REFRESH_SECRET= <VALID_JWT_SECRET>

POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=inventory_dev

DATABASE_HOST=localhost
DATABASE_PORT=5432

AZURE_CLIENT_ID=<VALID_AZURE_CLIENT_ID>
AZURE_CLIENT_SECRET=<VALID_AZURE_APP_REGISTRATION_CLIENT_SECRET>
AZURE_CALLBACK_URL='http://localhost:3001/inventory/oauth/callback'
AZURE_TENANT_ID=<VALID_AZURE_TENANT_ID>
SECURITY_GROUP_ID=<VALID_ENTRA_SECURITY_GROUP_ID>

FRONTEND_URL='http://localhost:3000'
SIGNATURES_DIR=<PATH_TO_SIGNATURES_DIRECTORY>

SENDER_EMAIL=<NOT_IN_USE>
LOCAL_BACKUP_PATH=<NOT_IN_USE>
DRIVE_ID=<NOT_IN_USE>
REMOTE_BACKUP_PATH=<NOT_IN_USE>